@charset "UTF-8";

/* 예약 일시 출력 박스 */
.choice {
   padding: 10px; 
    width:500px; 
    height: 80px;
    border: 1px solid #dcdcdc;
    font-weight: bold;
}


/* 1인 입장권 */
.reserve {
    padding: 10px; 
    width:500px; 
    height: 80px;
    border: 1px solid #dcdcdc;
    font-weight: bold;
}
.reservebox {
   font-size: 20px;
   margin-left: 15px;
}

.num {   
   text-align: center;
   margin-left: 380px;
}

.plus {
   font-size: 20px;
   margin: 10px;
}

.minus{
   font-size: 20px;
   margin: 10px;   
}

#result{
   font-size: 25px;
}

.dpbutton {
   margin-left: 900px;
   font-weight: bold;

}


.modal-content {
    position: relative;
    width: 600px;
    height: 620px;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}

.modal-body {
    position: relative;
    padding: 15px;
    height: 486px;
}

#myModalLabel {
   
   margin-top: 10px;
   margin-left: 200px;
   font-weight: bold;
   
}
.modal-footer {

   margin-right: 35px;
   font-weight: bold;

}