/*
.center{
	width: 1900px;
	height: 800px;
	background-color: red;
}


.menubar>.menu>li>a{
   text-decoration-line: none;
   list-style-type: none;
   color:red;
}


.menu li a:hover {
   color: gray;
}

#slider li img {
   position: inherit;
}

hr {
   height:1px;
    border:0;
   color: #909090;
}
*/